# SPDX-FileCopyrightText: 2014 JingleManSweep
# SPDX-FileCopyrightText: 2015-2018 Lars Kellogg-Stedman <lars@oddbit.com>
# SPDX-FileCopyrightText: 2019-2020 Mark Jonas <toertel@gmail.com>
#
# SPDX-License-Identifier: MIT

{%- set qemu_dict = {"amd64": None,    "arm32v5": "arm", "arm32v7": "arm", "arm64v8": "aarch64"} %}
{%- set pkg_dict =  {"amd64": "amd64", "arm32v5": "arm", "arm32v7": "arm", "arm64v8": "arm"} %}
{%- set qemu_arch = qemu_dict[container_arch] %}
{%- set pkg_arch = pkg_dict[container_arch] %}

FROM {{ container_arch }}/debian:buster-slim

ARG BUILD_DATE
ARG IMAGE_VERSION
ARG COMMIT_SHA
ARG LMS_VERSION=8.0.0
ARG LMS_URL=http://downloads.slimdevices.com/LogitechMediaServer_v${LMS_VERSION}/logitechmediaserver_${LMS_VERSION}_{{ pkg_arch }}.deb

# https://github.com/opencontainers/image-spec/blob/master/annotations.md
LABEL \
	org.opencontainers.image.created="${BUILD_DATE}" \
	org.opencontainers.image.authors="Mark Jonas <toertel@gmail.com>" \
	org.opencontainers.image.url="https://gitlab.com/toertel/docker-image-logitech-media-server" \
	org.opencontainers.image.documentation="https://gitlab.com/toertel/docker-image-logitech-media-server/-/blob/${COMMIT_SHA}/README.md" \
	org.opencontainers.image.source="https://gitlab.com/toertel/docker-image-logitech-media-server.git" \
	org.opencontainers.image.version="${IMAGE_VERSION}" \
	org.opencontainers.image.revision="${COMMIT_SHA}" \
	org.opencontainers.image.vendor="Mark Jonas <toertel@gmail.com>" \
	org.opencontainers.image.licenses="" \
	org.opencontainers.image.ref.name="" \
	org.opencontainers.image.title="Docker image for Logitech Media Server" \
	org.opencontainers.image.description="Docker image for Logitech Media Server which powers Squeezebox devices" \
	maintainer="Mark Jonas <toertel@gmail.com>"

{% if qemu_arch %}
COPY qemu-{{ qemu_arch }}-static /usr/bin/
{%- endif %}

ENV \
	SQUEEZE_VOL=/srv/squeezebox \
	LANG=C.UTF-8

ARG DEBIAN_FRONTEND=noninteractive

RUN apt-get update && \
	apt-get -y --no-install-recommends install \
		curl \
		ca-certificates \
		faad \
		flac \
		lame \
		sox \
		libio-socket-ssl-perl \
		tzdata \
		&& \
{%- if qemu_arch == "arm" %}
{#- Workaround for Debian Bug report #923479
   https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=923479 #}
	c_rehash && \
{%- endif %}
	apt-get clean && \
	rm -rf /var/lib/apt/lists/*

# Add Google Music plugin
{% include "google-music.j2" %}

RUN curl -Lsf -o /tmp/logitechmediaserver.deb ${LMS_URL} && \
	dpkg -i /tmp/logitechmediaserver.deb && \
	rm -f /tmp/logitechmediaserver.deb && \
	apt-get clean

# This will be created by the entrypoint script.
RUN userdel squeezeboxserver

VOLUME $SQUEEZE_VOL
EXPOSE 3483 3483/udp 9000 9090

COPY entrypoint.sh start-squeezebox.sh /
ENTRYPOINT ["/entrypoint.sh"]
